@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Source+Sans+Pro&display=swap');


/*
font-family: 'Hind', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.tituloMenu {
    font-family: 'Hind', sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    border: solid 1px #0479ff;
    background-color: #0479ff;
    font-size: 24px;
    margin-bottom: 10px;
}

.rojo {
    font-family: 'Hind', sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    border: solid 1px #0479ff;
    background-color:red;
    font-size: 24px;
    margin-bottom: 10px;
}

.azul {
    font-family: 'Hind', sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    border: solid 1px #0479ff;
    background-color: #0479ff;
    font-size: 24px;
    margin-bottom: 10px;
}

.amarillo {
    font-family: 'Hind', sans-serif;
    color: black;
    text-align: center;
    line-height: normal;
    border: solid 1px #0479ff;
    background-color: yellow;
    font-size: 24px;
    margin-bottom: 10px;
}

.verde {
    font-family: 'Hind', sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    border: solid 1px #0479ff;
    background-color: green;
    font-size: 24px;
    margin-bottom: 10px;
}

.container {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 5px;
    border: 1px solid black;
    background-color: #ffffff;
}

.agregar{
    background-color: #65a7f3;
    border-color: black;
    border-width: 1px;
    
}

.col-lg-3 {
    background-color: #ffffff;
    text-align: center;
    border: 1px solid black;
}

.cardGaleria {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 25 px;
}

